<footer class="footer">
  
    
    <div class="footer-cover">
      <div class="cover-image">
        <img class="lazy" data-src="/images/37.jpg" alt="">
      </div>
    </div>
  

  <div class="container">
    <div class="row">
      <div class="col col-12">
        

<div class="social">
  <ul class="social__list list-reset">
    
    <li class="social__item">
      <a class="social__link" href="https://twitter.com/" target="_blank" rel="noopener"
        aria-label="Twitter link"><i class="ion ion-logo-twitter"></i></a>
    </li>
    
    <li class="social__item">
      <a class="social__link" href="https://github.com/" target="_blank" rel="noopener"
        aria-label="Github link"><i class="ion ion-logo-github"></i></a>
    </li>
    
    <li class="social__item">
      <a class="social__link" href="https://pinterest.com/" target="_blank" rel="noopener"
        aria-label="Pinterest link"><i class="ion ion-logo-pinterest"></i></a>
    </li>
    
    <li class="social__item">
      <a class="social__link" href="https://codepen.io/" target="_blank" rel="noopener"
        aria-label="Codepen link"><i class="ion ion-logo-codepen"></i></a>
    </li>
    
    <li class="social__item">
      <a class="social__link" href="https://vimeo.com/" target="_blank" rel="noopener"
        aria-label="Vimeo link"><i class="ion ion-logo-vimeo"></i></a>
    </li>
    
    <li class="social__item">
      <a class="social__link" href="https://youtube.com/" target="_blank" rel="noopener"
        aria-label="Youtube link"><i class="ion ion-logo-youtube"></i></a>
    </li>
    
  </ul>
</div>


        <div class="copyright">2023 &copy; <a href="/">Skyy Tech</a>. All Right Reserved.</div>
      </div>
    </div>
  </div>
</footer>


<script src="/js/scripts.min.4e1000a8d48e6260976da9cf1f7a847806d3fb50e680246e3ef6b035830abf0b.js"></script>
<script src="/js/common.min.aae8c8f178acd0d028791fa8c32934c6e40ec4995f7a71431c709cedc9fb5e2a.js"></script>
  