<header class="header">
  <div class="container">
    <div class="row">
      <div class="header__inner col col-12">

        <div class="logo">
          <a class="logo__link" href="/">
            
              Skyy
            
          </a>
        </div>

        <nav class="main-nav">
          <div class="main-nav__box">
            <div class="nav__icon-close">
              <i class="ion ion-md-close"></i>
            </div>
            <div class="nav__title">Menu</div>
            <ul class="nav__list list-reset">

              
                <li class="nav__item"><a href="/" class="nav__link <%= active.tab1 %> ">Home</a></li>
                
                <li class="nav__item"> <a href="/projects" class="nav__link <%= active.tab2 %> ">Projects</a> </li>
                
                <li class="nav__item"> <a href="/articles" class="nav__link <%= active.tab3 %>">Reads</a> </li>

                <li class="nav__item"> <a href="#" class="nav__link cta-button button button--small">Get in touch</a> </li>
              

            </ul>
          </div>
        </nav>

        <div class="nav-button">
          <i class="nav__icon nav__icon-menu ion ion-md-menu"></i>
        </div>

      </div>
    </div>
  </div>
</header>