<section class="subscribe section">
  <div class="container">
    <div class="row">
      <div class="col col-12">

        <div class="subscribe__inner">
          <div class="subscribe__info">
            <h3 class="subscribe__title"><span class='text-span'>Chat</span> me on whatsapp</h3>
            <div class="subscribe__subtitle">
              <span class="typer" id="typer-js" data-words="Get the best inspiration and, cool stuff about design!" data-delay="80" data-deleteDelay="1500"></span>
              <span class="cursor" data-cursorDisplay="|" data-owner="typer-js"></span>
            </div>
          </div>

          <form class="subscribe-form validate" action="http://frnla.us6.list-manage.com/subscribe/post?u=6314d69a3f315af7ce3fb00a0&amp;amp;id=3038727cc3" method="POST"
            id="membedded-subscribe-form" name="membedded-subscribe-form" target="_blank" novalidate>
            <input class="subscribe-email required email" id="mce-EMAIL" type="text" name="EMAIL"
              placeholder="Enter a short message here">

            <div style="margin: auto; width: 20%; min-width: 150px;"> 
             <button  class="button button--big subscribe-button" id="membedded-subscribe" type="submit" name="subscribe">Send</button>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>